@tailwind base;
@tailwind components;
@tailwind utilities;

/* global properties */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: none;
    -webkit-tap-highlight-color: transparent;
    font-family: "Nunito Sans", sans-serif;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: #fff;
}

* {
    scrollbar-color: #C21010 #fff;
}

/* remove arrows on number input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}

/* button properties */
button:hover {
    cursor: pointer;
}

button:disabled {
    cursor: default !important;
}

/* tap on link on mobile */
a {
    -webkit-tap-highlight-color: transparent;
}


/* disable touch */
.stop-touch {
    touch-action: none !important;
}

/* remove scrollbar */
.no-scrollbar {
    scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* form properties */
input,
textarea {
    outline: 0;
    border: 0;
}

textarea {
    resize: none;
}

input:focus,
textarea:focus {
    outline: 0;
    border: 0;
}

.common-input {
    width: 100%;
    height: 45px;
    border-radius: 8px;
    padding: 5px 20px;
    color: #30475E;
    border: 1px solid #30475E;
    transition: all 0.3s ease;
}

.common-input:focus {
    border: 1.5px solid #fff;
    box-shadow: 0 0 10px #e5e5e5;
}

.common-input-error {
    border: 1px solid #C21010;
    transition: all 0.3s ease;
}

.common-input-error:focus {
    border: 1.5px solid #C21010;
}

label {
    font-size: 14px;
    color: #30475E;
    font-weight: 600;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
    line-height: 120.4%;
    letter-spacing: -0.02em;
}

.generic-input {
    height: 45px;
    border-radius: 24px;
    padding: 5px 20px;
    color: #246812;
}

@media screen and (min-width: 768px) {
    .toast-styles {
        width: 400px;
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(144, 85, 177, 0.231) 10.47%, rgba(128, 87, 151, 0.3) 53.18%);
    backdrop-filter: blur(8px);
    z-index: 20;
}

.ce-inline-toolbar {
    background-color: white !important;
}

.ce-toolbar__plus, .ce-toolbar__settings-btn {
    color: #FB5881;
}

.ce-toolbar__plus>svg {
    height: 40px;
    width: 40px;
}

.ce-toolbox, .ce-popover--opened, .ce-popover__item-icon, .ce-conversion-tool__icon {
    background-color: #28293e !important;
}

.ce-popover__item:hover, .ce-conversion-tool--focused:hover, .cdx-attaches__download-button {
    background-color: #FB5881 !important;
}

.ce-inline-toolbar__toggler-and-button-wrapper {
    background-color: #28293e !important;
    border: none !important;
    outline: none !important;
}

.ce-inline-toolbar__dropdown, .ce-conversion-toolbar, .ce-conversion-toolbar--showed, .cdx-attaches {
    background-color: #28293e !important;
}

.ce-conversion-tool:hover {
    background-color: #FB5881 !important;
}

.program-input {
    border: 1px solid #28293e;
    transition: all 0.3s ease;
    border-radius: 8px;
    padding: 5px 10px;

}

.program-input:focus {
    border: 1.5px solid #FB5881;
}

.hr-color {
    background: rgba(98, 100, 106, 0.25);
}

.stat-shadow:hover {
    box-shadow: rgba(251, 88, 129, 0.5) 0px 2px 5px -1px, rgba(251, 88, 129, 0.3) 0px 1px 3px -1px;
}

.table-shadow {
    box-shadow: rgba(251, 88, 129, 0.3) 0px 2px 5px -1px, rgba(251, 88, 129, 0.1) 0px 1px 1px -1px;
}

#svg {
    display: inline-block;
    vertical-align: middle;
}

.path {
    stroke: #28293E;
    stroke-width: 6;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-dasharray: 193.904983521;
    fill: none;
    animation:
        load 4s linear infinite,
        color 2s linear infinite;
}

.path-white {
    stroke: #fff;
    stroke-width: 6;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-dasharray: 193.904983521;
    fill: none;
    animation:
        load 4s linear infinite,
        color-white 2s linear infinite;
}

@keyframes load {
    from {
        stroke-dashoffset: 775.6199340820312;
    }
}

@keyframes color {
    33% {
        stroke: #30475E;
    }

    66% {
        stroke: #28293E;
    }
}

@keyframes color-white {
    33% {
        stroke: #fff;
    }

    66% {
        stroke: #fff;
    }
}

.ce-block__content,
.ce-toolbar__content {
    max-width: unset;
}


.container-spinner {
    position: relative;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-spinner span {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    border: 2px solid transparent;
    border-top: 2px solid currentColor;
    border-right: 2px solid currentColor;
    border-left: 2px solid currentColor;
    border-radius: 50%;
    -webkit-animation: rotate-clockwise 1s linear infinite;
    animation: rotate-clockwise 1s linear infinite;
}

.container-spinner span::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 2px;
    border: 2px solid transparent;
    border-bottom: 2px solid currentColor;
    border-right: 2px solid currentColor;
    border-left: 2px solid currentColor;
    border-radius: 50%;
    -webkit-animation: rotate-counterclockwise 0.5s linear infinite;
    animation: rotate-counterclockwise 0.5s linear infinite;
}

@-webkit-keyframes rotate-clockwise {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotate-clockwise {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes rotate-counterclockwise {
    0% {
        transform: rotate(360deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes rotate-counterclockwise {
    0% {
        transform: rotate(360deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(0deg);
    }
}