@tailwind base;
@tailwind components;
@tailwind utilities;

/* global properties */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: none;
    -webkit-tap-highlight-color: transparent;
    font-family: "Nunito Sans", sans-serif;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: #fff;
    --webkit-font-smoothing: antialiased;
    --moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

* {
    scrollbar-color: #C21010 #fff;
}

/* remove arrows on number input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}

/* button properties */
button:hover {
    cursor: pointer;
}

button:disabled {
    cursor: default !important;
}

/* tap on link on mobile */
a {
    -webkit-tap-highlight-color: transparent;
}


/* disable touch */
.stop-touch {
    touch-action: none !important;
}

/* remove scrollbar */
.no-scrollbar {
    scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* form properties */
input,
textarea {
    outline: 0;
    border: 0;
    caret-color: #9d2a57;
}

textarea {
    resize: none;
    form-sizing: content;
    min-height: 2lh;
    max-height: 10lh;
}

input:focus,
textarea:focus {
    outline: 0;
    border: 0;
}

.common-input {
    width: 100%;
    height: 45px;
    border-radius: 8px;
    padding: 5px 20px;
    color: #30475E;
    border: 1px solid #30475E;
    transition: all 0.3s ease;
}

.common-input:focus {
    border: 1.5px solid #fff;
    box-shadow: 0 0 10px #e5e5e5;
}

.program-create-form {
    border-radius: 4px;
    border: none;
    background-color: #f2f4f7;
    max-width: 600px;
    padding-left: 10px;
    width: 100%;
}

.program-create-form:focus {
    border: none;
    box-shadow: none;
}

.common-input-error {
    border: 1px solid #C21010;
    transition: all 0.3s ease;
}

.common-input-error:focus {
    border: 1.5px solid #C21010;
}

label {
    font-size: 14px;
    color: #30475E;
    font-weight: 600;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
    line-height: 120.4%;
    letter-spacing: -0.02em;
}

.generic-input {
    height: 45px;
    border-radius: 24px;
    padding: 5px 20px;
    color: #246812;
}

@media screen and (min-width: 768px) {
    .toast-styles {
        width: 400px;
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(4px);
    z-index: 20;
}

.overlay-course {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg,
            rgba(0, 0, 0, 0.2) 0%,
            rgba(0, 0, 0, 0.1) 31.78%,
            rgba(0, 0, 0, 0.7) 73.58%,
            rgba(0, 0, 0, 0.9) 100%);
    z-index: 20;
    border-radius: 0.75rem;
}

.ce-inline-toolbar {
    background-color: white !important;
    border: 0 !important;
    outline: none !important;
}

.ce-toolbar__plus, .ce-toolbar__settings-btn {
    color: #9d2a57;
    width: 40px !important;
    height: 40px !important;
}

.ce-toolbar__plus {
    border: 2px solid #9d2a57 !important;
}

.ce-toolbar__plus:hover, .ce-toolbar__settings-btn:hover {
    background-color: #9d2a57 !important;
    color: #fff;
    width: 40px !important;
    height: 40px !important;
}

.ce-toolbar__plus>svg {
    height: 40px;
    width: 40px;
}

.ce-toolbox, .ce-popover--opened, .ce-popover__item-icon, .ce-conversion-tool__icon {
    background-color: #28293e !important;
}

.ce-popover__item:hover, .ce-conversion-tool--focused:hover, .cdx-attaches__download-button {
    background-color: #fff !important;
}

.cdx-attaches__download-button>svg {
    color: #9d2a57 !important;
    width: 32px !important;
    height: 32px !important;
}

.ce-inline-toolbar__toggler-and-button-wrapper {
    background-color: #9d2a57 !important;
    border: none !important;
    outline: none !important;
}

.ce-inline-toolbar__dropdown, .ce-conversion-toolbar, .ce-conversion-toolbar--showed, .cdx-attaches {
    background-color: #9d2a57 !important;
}

.ce-inline-toolbar__dropdown:hover {
    background-color: #28293e !important;
}

.ce-toolbar__plus {
    background-color: #ffffff !important;
}

.ce-conversion-tool:hover {
    background-color: #9d2a57 !important;
}

.tc-popover {
    background-color: #9d2a57 !important;
}

.tc-popover__item-icon {
    background-color: #28293e !important;
}

.tc-popover__item:hover {
    background-color: #28293e !important;
}

.ce-inline-tool:hover {
    background-color: #28293e !important;
}

.ce-popover-item__title {
    color: #fff !important;
}

.ce-popover-item__title:hover {
    color: #fff !important;
}

.cdx-search-field__input::placeholder {
    color: #f5f5f5 !important;
}

.cdx-search-field__icon {
    color: #f5f5f5 !important;
}

.ce-popover-item {
    background-color: #9d2a57 !important;
    margin-bottom: 3px !important;
}

.ce-popover--opened {
    border: none !important;
}

.ce-popover__items {
    scrollbar-width: none;
}

.ce-popover__items::-webkit-scrollbar {
    display: none;
}

.program-input {
    border-bottom: 1px solid #28293e;
    transition: all 0.3s ease;
    padding: 5px 10px;

}

.program-input:focus {
    border-bottom: 1.5px solid #9d2a57;
}

.hr-color {
    background: rgba(98, 100, 106, 0.25);
}

.stat-shadow:hover {
    box-shadow: rgba(251, 88, 129, 0.5) 0px 2px 5px -1px, rgba(251, 88, 129, 0.3) 0px 1px 3px -1px;
}

.table-shadow {
    box-shadow: rgba(251, 88, 129, 0.3) 0px 2px 5px -1px, rgba(251, 88, 129, 0.1) 0px 1px 1px -1px;
}

#svg {
    display: inline-block;
    vertical-align: middle;
}

.path {
    stroke: #28293E;
    stroke-width: 6;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-dasharray: 193.904983521;
    fill: none;
    animation:
        load 4s linear infinite,
        color 2s linear infinite;
}

.path-white {
    stroke: #fff;
    stroke-width: 6;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-dasharray: 193.904983521;
    fill: none;
    animation:
        load 4s linear infinite,
        color-white 2s linear infinite;
}

@keyframes load {
    from {
        stroke-dashoffset: 775.6199340820312;
    }
}

@keyframes color {
    33% {
        stroke: #30475E;
    }

    66% {
        stroke: #28293E;
    }
}

@keyframes color-white {
    33% {
        stroke: #fff;
    }

    66% {
        stroke: #fff;
    }
}

.ce-block__content,
.ce-toolbar__content {
    max-width: unset;
}

.codex-editor h1 {
    font-size: 1.75rem;
    font-weight: 600;
}

.codex-editor h2 {
    font-size: 1.3rem;
    font-weight: 600;
}

.codex-editor h3 {
    font-size: 1rem;
    font-weight: 600;
}

.container-spinner {
    position: relative;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-spinner span {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    border: 2px solid transparent;
    border-top: 2px solid currentColor;
    border-right: 2px solid currentColor;
    border-left: 2px solid currentColor;
    border-radius: 50%;
    -webkit-animation: rotate-clockwise 1s linear infinite;
    animation: rotate-clockwise 1s linear infinite;
}

.container-spinner span::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 2px;
    border: 2px solid transparent;
    border-bottom: 2px solid currentColor;
    border-right: 2px solid currentColor;
    border-left: 2px solid currentColor;
    border-radius: 50%;
    -webkit-animation: rotate-counterclockwise 0.5s linear infinite;
    animation: rotate-counterclockwise 0.5s linear infinite;
}

@-webkit-keyframes rotate-clockwise {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotate-clockwise {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes rotate-counterclockwise {
    0% {
        transform: rotate(360deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes rotate-counterclockwise {
    0% {
        transform: rotate(360deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.spotlight-two {
    background: #FF9CE3;
    filter: blur(87.5px);
}

.spotlight-one {
    background: #924FFF;
    filter: blur(87.5px);
}

.glow-text {
    background: linear-gradient(180deg, #FCFCFF 0%, #FF9CE3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

@media screen and (max-width: 1280px) {
    .role {
        display: none;
    }
}

@media screen and (max-width: 1440px) {
    .date {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .progress {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .invite-date {
        display: none;
    }
}


button:disabled {
    opacity: 0.5;
}

.textGradientTitles {
    background: linear-gradient(to right bottom, #9d2a57, #80376d, #5e4275, #3f476e, #30475e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.shadowAroundFeature {
    box-shadow: rgba(157, 42, 87, 0.5) 0px 1px 2px 1px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.question-input {
    box-shadow: rgba(157, 42, 87, 0.5) 0px 0px 1px 1px, rgba(0, 0, 0, 0.06) 0px 1px 1px 0px;
}

.question-input:focus {
    box-shadow: rgba(157, 42, 87, 0.5) 0px 0px 3px 1px, rgba(0, 0, 0, 0.06) 1px 1px 1px 0px;
}

.featureOneGradient {
    background: linear-gradient(85deg, rgba(18, 18, 18, 1) 0%, rgba(157, 42, 87, 1) 77%);
}

.featureTwoGradient {
    background: linear-gradient(85deg, rgba(18, 18, 18, 1) 0%, rgba(48, 71, 94, 1) 54%);
}

.featureThreeGradient {
    background: linear-gradient(85deg, rgba(40, 41, 62, 1) 0%, rgba(69, 51, 115, 1) 100%);
}


:root {
    --tooltip-text-color: white;
    --tooltip-background-color: #383838;
    --tooltip-margin: 30px;
    --tooltip-arrow-size: 6px;
}

/* Wrapping */
.Tooltip-Wrapper {
    display: inline-block;
    position: relative;
}



/* Absolute positioning */
.Tooltip-Tip {
    position: absolute;
    border-radius: 4px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    color: var(--tooltip-text-color);
    background: var(--tooltip-background-color);
    font-size: 14px;
    font-family: sans-serif;
    line-height: 1;
    z-index: 100;
    white-space: nowrap;
}

@media screen and (max-width: 768px) {
    .Tooltip-Tip {
        display: none;
    }
}

/* CSS border triangles */
.Tooltip-Tip::before {
    content: " ";
    left: 50%;
    border: solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-width: var(--tooltip-arrow-size);
    margin-left: calc(var(--tooltip-arrow-size) * -1);
}

/* Absolute positioning */
.Tooltip-Tip.top {
    top: calc(var(--tooltip-margin) * -1);
}

/* CSS border triangles */
.Tooltip-Tip.top::before {
    top: 100%;
    border-top-color: var(--tooltip-background-color);
}

/* Absolute positioning */
.Tooltip-Tip.right {
    left: calc(100% + var(--tooltip-margin));
    top: 50%;
    transform: translateX(0) translateY(-50%);
}

/* CSS border triangles */
.Tooltip-Tip.right::before {
    left: calc(var(--tooltip-arrow-size) * -1);
    top: 50%;
    transform: translateX(0) translateY(-50%);
    border-right-color: var(--tooltip-background-color);
}

/* Absolute positioning */
.Tooltip-Tip.bottom {
    bottom: calc(var(--tooltip-margin) * -1.5);
}

/* CSS border triangles */
.Tooltip-Tip.bottom::before {
    bottom: 100%;
    border-bottom-color: var(--tooltip-background-color);
}

/* Absolute positioning */
.Tooltip-Tip.left {
    left: auto;
    right: calc(100% + var(--tooltip-margin));
    top: 50%;
    transform: translateX(0) translateY(-50%);
}

/* CSS border triangles */
.Tooltip-Tip.left::before {
    left: auto;
    right: calc(var(--tooltip-arrow-size) * -2);
    top: 50%;
    transform: translateX(0) translateY(-50%);
    border-left-color: var(--tooltip-background-color);
}

/* To target all scrollbars */
::-webkit-scrollbar {
    width: 8px;
    height: 12px;
}

/* The track (background) */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 0px;
}

/* The handle (scroll thumb) */
::-webkit-scrollbar-thumb {
    background: #9d2a57;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #9d2a57;
}

.react-pdf__Page {
    background-color: #E5E7EB !important;
    padding: 10px;
    border-radius: 8px;
}

.policy p {
    line-height: 1.5;
    margin-bottom: 0.5rem;
}

.policy li {
    line-height: 1.5;
    margin-bottom: 0.5rem;
}

.policy ul {
    list-style: disc;
    margin-left: 2rem;
}

.policy h2 {
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.policy h3 {
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.policy h4 {
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

strong {
    font-weight: 600;
}

.policy a {
    color: #9d2a57;
    text-decoration: underline;
}

.course-card-gradient {
    background: rgb(32, 33, 50);
    background: linear-gradient(39deg, rgba(32, 33, 50, 1) 0%, rgba(24, 25, 37, 1) 100%);
}

.card {
    width: 100%;
    height: 475px;
    background: #fff;
    border-radius: 1rem;
    padding: 1rem;
    overflow: hidden;
    position: relative;
}

.card-img-holder {
    width: 100%;
    height: 40%;
    position: relative;
}

.card-img-holder img {
    width: 100%;
    height: auto;
    max-height: 15rem;
    object-fit: cover;
    border-radius: 0.8rem;
}

.blog-title {
    color: #374151;
    padding: 1rem 0;
    font-size: 1.5rem;
}

.description {
    padding: 1rem 0;
    font-size: 1rem;
}

.blog-time {
    font-size: .8rem;
    color: #374151;
    font-weight: 500;
}

.options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
}

.options span {
    font-weight: 500;
    color: #374151;
}

.btn {
    font-size: 1rem;
    padding: .5rem 3rem;
    border-radius: .8rem;
    font-weight: 600;
    background: #9d2a57;
    color: #ffffff;
    cursor: pointer;
}

.blog-content p {
    line-height: 1.5 !important;
    letter-spacing: 0.01em !important;
    margin-bottom: 1rem !important;
}

.blog-content h2 {
    font-size: 1.5rem !important;
    font-weight: 600 !important;
    line-height: 1.5 !important;
    letter-spacing: 0.01em !important;
    margin-bottom: 0.1rem !important;
}

.blog-content ul, ol {
    list-style: disc !important;
    margin-left: 2rem !important;
    margin-top: -0.5rem;
}

.blog-content li:last-child {
    margin-bottom: 1rem !important;
}

.blog-content li {
    margin-bottom: 0.2rem !important;
}

@media screen and (max-width: 768px) {
    .disable-mobile-animation {
        animation: none !important;
        transform: none !important;
    }
}

.btn-offering {
    position: relative;
    top: 0;
    left: 0;
    min-width: 250px;
    height: 50px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-offering span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(157, 42, 87, 0.05);
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    padding: 10px;
    letter-spacing: 1px;
    text-decoration: none;
    overflow: hidden;
    color: #fff;
    font-weight: 700;
    z-index: 1;
    transition: 0.5s;
    backdrop-filter: blur(15px);
}

.btn-offering :hover span {
    letter-spacing: 3px;
}

.btn-offering span::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
    transform: skewX(45deg) translate(0);
    transition: 0.5s;
    filter: blur(0px);
}

.btn-offering :hover::before {
    bottom: 0;
    height: 100%;
    width: 100%;
    border-radius: 30px;
    background: linear-gradient(to left, rgba(255, 255, 255, 0.20), transparent);
}


.btn-offering :hover::after {
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 30px;
}